// @use '../../../styles.scss' as *;

// :host {
//   height: 100%;
//   min-height: 0;
// }

// .view-panel-container {
//   height: 100%;
//   min-height: 0;

//   overflow-y: auto;

//   display: flex;
//   flex-direction: column;

//   padding: $space-lg;
// }

// // DETAILS HEADER

// .editor-banner {
//   display: flex;
//   justify-content: flex-end;
//   margin-bottom: $space-md;

//   .edit-button {
//     background: $color-status-scheduled;
//     color: #fff;
//     padding: 0.5rem 1rem;
//     border-radius: 8px;
//     font-weight: 500;
//     font-size: 0.9rem;
//     cursor: pointer;
//     transition: background 0.2s ease, transform 0.1s ease;

//     &:hover {
//       background: #999;
//     }
//   }
// }

// // DETAILS CONTAINER

// .details-container {
//   background: #fff;
  
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: $space-lg;

//   &.placeholder {
//     height: 100%;
//     min-height: 0;

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     color: #777;
//     font-style: italic;
//   }
// }

// // READ MODE

// .details-item {
//   display: flex;
//   flex-direction: column;
//   gap: 0.5rem;
//   padding: $space-sm;

//   .key {
//     font-size: 0.9rem;
//     color: #666;
//     font-weight: 600;
//   }

//   .value {
//     font-size: 1rem;
//     color: #222;
//   }
// }

// .fill-row {
//   grid-column: 1 / -1;
// }