@use '../../../styles.scss' as *;

:host {
  height: 100%;
  min-height: 0;
}

.summary-panel-container {
  height: 100%;
  min-height: 0;

  display: grid;
  grid-auto-rows: auto;

  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.summary-item {
  display: grid;
  grid-template-rows: auto 1fr;

  padding: $space-sm;
  box-shadow: $shadow-md;
  cursor: pointer;
  transition: background-color 0.2s ease;

  background-color: #ffffff;
  font-weight: bolder;
}

.summary-item:hover {
  background-color: #f7f7f7;
}

.summary-item.selected {
  background-color: #e3f2fd;
}

.summary-item.acknowledged {
  font-weight: $font-weight-normal;
}

.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: $font-size-base;
  margin-bottom: $space-xs;
}

@mixin status-badge($bg-color) {
  background-color: $bg-color;
  color: $color-status-text;
  font-weight: 500;
  font-size: 0.85rem;
  padding: 2px 8px;
  border-radius: 12px;
  display: inline-block;
  text-transform: capitalize;
}

.status.requested {@include status-badge($color-status-requested);}
.status.scheduled {@include status-badge($color-status-scheduled);}
.status.cancelled {@include status-badge($color-status-cancelled);}
.status.completed {@include status-badge($color-status-completed);}
.status.no_show {@include status-badge($color-status-no-show);}
.status.rescheduled {@include status-badge($color-status-rescheduled);}

.summary-body {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;

  width: 100%;
  min-width: 0;
}

.name {
  display: block;
  width: 100%;
  min-width: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reason {
  display: block;
  width: 100%;
  min-width: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
