@use '../../../styles.scss' as *;

:host {
  height: 100%;
  min-height: 0;
}

.create-appointment-container {
    height: 100%;
    min-height: 0;
}

.form-container {
    height: 100%;
    min-height: 0;

    padding: $space-md;
    padding-bottom: $space-xl * 5;

    overflow-y: auto;
    scroll-behavior: smooth;
}

.form-item {
    display: grid;
    grid-template-rows: auto 1fr;
    
    padding: $space-md;
    gap: $space-md;
}

.schedule-button {
    display: flex;
    flex-direction: row;

    gap: $space-sm;
    padding: $space-lg;

    align-items: center;
}