@use '../../../styles.scss' as *;

:host {
  height: 100%;
  min-height: 0;
}

.create-appointment-container {
    height: 100%;
    min-height: 0;

    overflow-y: auto;
    padding: $space-lg;
    padding-bottom: $space-lg * 5
}

.create-appointment-header {
    display: flex;
    align-items: center;

    gap: $space-sm;
}

.schedule-button {
    display: flex;
    flex-direction: row;

    align-items: center;
}