@use '../../../styles.scss' as *;

.details-pane {
  padding: 20px;
}

.details-pane .placeholder {
    height: 100%;
    width: 100%;

    display: grid;
    place-content: center;
    color: #888;
    font-style: italic;
}