<div
    class="view-panel-container"
    *ngIf="appointment; else noSelection"
>
    <div class="view-panel-toolbar">
        <div
            class="toolbar-button"
            (click)="updateAppointment()"
            *ngIf="editMode"
        >
            <i class="material-icons">
                save
            </i>
            <div class="toolbar-button-text">
                Save Changes
            </div>
        </div>
        <div
            class="toolbar-button"
            (click)="toggleEditMode()"
        >
            <i class="material-icons">
                {{ editMode ? 'edit_off' : 'edit' }}
            </i>
            <div class="toolbar-button-text">
                {{ editMode ? 'Exit Appointment Editor' : 'Edit Appointment' }}
            </div>
        </div>
    </div>

    <app-appointment-details-view
        *ngIf="!editMode"
        [appointment]="appointment"
    ></app-appointment-details-view>

    <app-appointment-edit-view
        *ngIf="editMode"
        #editView
        [appointment]="appointment"
    ></app-appointment-edit-view>
</div>

<ng-template #noSelection>
    <div class="placeholder">
        <p>Select an appointment to view details.</p>
    </div>
</ng-template>
