@use '../../../../../styles.scss' as *;

:host {
  height: 100%;
  min-height: 0;
}

.edit-view-container {
    height: 100%;
    min-height: 0;

    padding: $space-md;
    padding-bottom: calc($space-md * 5);

    overflow-y: auto;
    scroll-behavior: smooth;
}

.form-item {
    display: grid;
    grid-template-rows: auto 1fr;
    
    padding: $space-md;
    gap: $space-md;
}