// @use '../../../styles.scss' as *;

// :host {
//     height: 100%;
//     min-height: 0;
// }

// .admin-banner {
//     padding: $space-lg;
//     text-align: center;
// }

// .admin-container {
//     height: 100%;
//     min-height: 0;

//     display: grid;
//     grid-template-rows: auto 1fr;
// }
