@use '../../../styles.scss' as *;

:host {
    height: 100%;
    min-height: 0;
}

.slicer-container {
    height: 100%;
    min-height: 0;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.slicer-nav {
    height: 100%;
    min-height: 0;

    width: 16rem;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slicer-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $space-sm;
    padding: $space-sm;
    cursor: pointer;

    &:hover {
        background-color: #939191;
    }

    &.active {
        background-color: #9ad0f7;
        color: #0e58a3;
    }
}

.slicer-text {
    display: grid;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    transition: opacity 0.2s ease;
}

.render-container {
    height: 100%;
    min-height: 0;
}

.render-container .placeholder {
    display: grid;
    place-items: center;
    height: 100%;
    color: #888;
    font-style: italic;
}