<div class="calendar-layout">
    <app-appointment-search-bar
        class="calendar-header"
        (search)="onSearch($event)"
    ></app-appointment-search-bar>

    <div class="calendar-main">
        <div class="calendar-wrapper" #calendarContainer>
            <full-calendar [options]="calendarOptions()"></full-calendar>
        </div>
        
        <div class="side-panel">
            @if (selectedAppointment()) {
                <app-appointment-view-panel
                    [appointment]="selectedAppointment()"
                    (close)="closePanel()"
                >
                </app-appointment-view-panel>
            }

            @if (isCreating()) {
                <app-create-appointment
                    [defaultStartTime]="draftStartTime()"
                    (created)="onSearchCreateSuccess()"
                    (cancel)="closePanel()"
                ></app-create-appointment>
            }
        </div>
    </div>
</div>