@use '../../../styles.scss' as *;

:host {
    height: 100%;
    display: block;
}

.calendar-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calendar-main {
    flex: 1;
    min-width: 0;
    height: 100%;

    display: flex; 
    flex-direction: row; 
    overflow: hidden;

    ::ng-deep {

        .fc-timegrid-slot { height: $space-xl; }
        .fc-event { padding: $space-xs; cursor: pointer; }

        .fc-header-toolbar {
            padding: 10px 20px;
            margin-bottom: 0 !important; // Remove default gap
            background: #fff;
            border-bottom: 1px solid #e0e0e0;
        }

        .fc-toolbar-title {
            font-size: 1.2rem !important;
            font-weight: 500;
        }

        .fc-button {
            background-color: #fff;
            border: 1px solid #ddd;
            color: #333;
            text-transform: capitalize;
            box-shadow: none !important; // Remove glow on click
            
            &:hover {
                background-color: #f5f5f5;
                border-color: #ccc;
                color: #000;
            }

            &:focus {
                box-shadow: none;
            }

            // The "Active" view button (e.g. Week is selected)
            &.fc-button-active {
                background-color: #e3f2fd; // Light blue background
                border-color: #2196f3;
                color: #2196f3;
                font-weight: 500;
            }
        }
    }
}

.calendar-wrapper {
    flex: 1;            // Take all available width
    min-width: 0;       // CRITICAL: Allows it to shrink below content size
    height: 100%;
    overflow-y: auto; // Calendar scrolls internally
}

.side-panel {
    // No absolute position!
    width: auto;
    max-width: 40%;
    
    background: white;
    border-left: 1px solid #e0e0e0;
    z-index: 10;
    
    // Shadow to give depth over the white calendar background
    box-shadow: -5px 0 20px rgba(0,0,0,0.05);

    overflow-y: auto;
}