@use '../../../styles.scss' as *;

:host {
    height: 100%;
    min-height: 0;
}

.find-appointment-container {
    height: 100%;
    min-height: 0;

    overflow: hidden;
}

.loading {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    height: 100%;

    display: grid;
    place-items: center;

    margin: $space-md;
    padding: $space-md;
}

.empty {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    height: 100%;
    min-height: 0;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(0, 40%) 1fr;

    overflow: hidden;
}

.fill-row {
    grid-column: 1 / -1;
}