/* 1. THEME IMPORTS (Must be the very first lines) */
@use 'styles/admin';
@use 'styles/home';

/* 2. GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}