<div class="slicer-container">
    <div class="slicer-nav">
        <div
            *ngFor="let item of items"
            class="slicer-item"
            [class.active]="selectedItem === item"
            (click)="onSelectItem(item)"
        >
            <i class="material-icons">{{ item.icon }}</i>
            <span class="slicer-text">{{ item.title }}</span>
        </div>
    </div>

    <div class="render-container">
        <ng-container *ngIf="selectedItem; else noSelection">
            <ng-container *ngComponentOutlet="selectedItem.component"></ng-container>
        </ng-container>

        <ng-template #noSelection>
            <div class="render-container placeholder">
                <p>Select an item in order to render it.</p>
            </div>
        </ng-template>
    </div>
</div>
